<% include ./partials/header.ejs %>

<div class="container">
        <img class ="thumbnail" src="<%= post.image %>">
        <div class="title">
            <h2><%= post.title %></h2>
        </div>
        
        <div class="credits">
            <span>Created on <%= post.created.toDateString() %></span>
            <span>by <%= post.author %></span>
        </div>
        
        <div class="text">
            <p><%- post.body%></p>
        </div>
        
        <a class="btn btn-lg btn-default edit" href="/posts/<%=post._id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
        
        <form id="delete" action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-lg btn-default edit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                </form>
                
       
</div>








<% include ./partials/footer.ejs %>